<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
    <title>Xbox</title>
</head>
<body>
    <div class="header">
      <div class = "left-header">
        <img src="images/logo.jpg" style="height:60%">
        <img src="images/logo2.jpg" style="height:60%">

        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Game Pass
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Overview</a>
                  <a href="#">Browse Games</a>
                  <a href="#">PC Game Pass</a>
                  <a href="#">Xbox Live Gold</a>
                </div>
              </div>

              <div class="dropdown">
                <button class="dropbtn">Games
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Console Games</a>
                  <a href="#">PC Games</a>
                  <a href="#">All Games</a>
                </div>
              </div>  

              <div class="dropdown">
                <button class="dropbtn">Devices
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Consoles</a>
                  <a href="#">Accessories</a>
                  <a href="#">PC Devices</a>
                </div>
              </div>

            <a href="#home">Play</a>

            <div class="dropdown">
                <button class="dropbtn">Community
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Community</a>
                  <a href="#">For Everone</a>
                  <a href="#">Gear Shop</a>
                </div>
              </div>


              <div class="dropdown">
                <button class="dropbtn">Support
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Support Home</a>
                  <a href="#">Xbox Status</a>
                  <a href="#">System Updates</a>
                </div>
              </div>

              <div class="dropdown">
                <button class="dropbtn">My Xbox
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Home</a>
                  <a href="#">Profile</a>
                </div>
              </div>

              <div class="dropdown">
                <button class="dropbtn">Developers
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Games</a>
                  <a href="#">Windows</a>
                  <a href="#">Designed For Xbox</a>
                </div>
              </div>

          </div>
    </div>
  </div>


  <div class = "right-header">
    <div class="navbar">
      <div class="dropdown">
          <button class="dropbtn">All Microsoft
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Overview</a>
            <a href="#">Browse Games</a>
            <a href="#">PC Game Pass</a>
            <a href="#">Xbox Live Gold</a>
          </div>
        </div>


      <a href="#home">Search</a>
      <a href="#home">Cart</a>
      <a href="#home">Sign In</a>


    </div>
  </div>

    <div class="carousel">


            <div class="mySlides fade">
              <div class="numbertext">1 / 3</div>
              <img src="img1.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">2 / 3</div>
              <img src="img2.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>
              <img src="img3.jpg" style="width:100%">
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
            
            <br>
            
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
    </div>

    <div class="quickOptions">
        <div class = "icon-img">
            <img src="icon1.jpg" height="70%">
            <p class="hover-underline-animation">Game Pass</p>
        </div>
        <div class = "icon-img">
            <img src="icon2.jpg" height="70%">
            <p class="hover-underline-animation">Games</p>
        </div>
        <div class = "icon-img">
            <img src="icon3.jpg" height="70%">
            <p class="hover-underline-animation">Consoles</p>
        </div>
        <div class = "icon-img">
            <img src="icon4.jpg" height="70%">
            <p class="hover-underline-animation">Accessories</p>
        </div>
        <div class = "icon-img">
            <img src="icon5.jpg" height="70%">
            <p class="hover-underline-animation">Play</p>
        </div>
        <div class = "icon-img">
            <img src="icon6.jpg" height="70%">
            <p class="hover-underline-animation">Sign In</p>
        </div>

    </div>

    <div class="tiles">
        <div class = "top">

          
            <div class = "left">
                <div class="top-left">
                    <img src="deathloop.jpg"width="100%" height="100%">
                </div>

                <div class = "container reveal">
                <div class = "bottom-left">
                    <img src="overwatch.jpg"width="100%" height="100%">
                </div>
              </div>
            </div>

            <div class = "right">
              
                <div class="top-right">
                    <img src="discover.jpg"width="100%" height="100%">
                </div>

              <section>  
              <div class = "container reveal">
                <div class = "bottom-right">
                    <img src="controller.jpg"width="100%" height="100%">
                </div>
              </div>
              </section>
            
            </div>
        </div>

        <div class = "container reveal">
        <div class = "bottom">
            <div class = "left">
                <img src="high_on_life.jpg"width="100%" height="100%">
            </div>

            <div class = "right">
                <img src="saints_row.jpg"width="100%" height="100%">
            </div>
        </div>
      </div>
    </div>

    <div class = "container reveal">
      <div class="promo">
          <img src="console.jpg" width="100%" height="100%">
      </div>
    </div>

    <div class="tiles">


      <div class = "container reveal">
        <div class = "bottom">
            <div class = "left">
                <img src="dead_island.jpg"width="100%" height="100%">
            </div>

            <div class = "right">
                <img src="cod.jpg"width="100%" height="100%">
            </div>
        </div>
      </div>



        <div class = "top">
            

            <div class = "right">
                <div class="top-right">
                    <img src="persona5.jpg"width="100%" height="100%">
                </div>
                
                <div class = "container reveal">
                  <div class = "bottom-right">
                      <img src="legacy.jpg"width="100%" height="100%">
                  </div>
                </div>
            </div>

            <div class = "left">
                <div class="top-left">
                    <img src="midnight_suns.jpg"width="100%" height="100%">
                </div>

                <div class = "container reveal">
                <div class = "bottom-left">
                    <img src="heritage.jpg"width="100%" height="100%">
                </div>
              </div>
            </div>

      </div>
    </div>

    <div class = "container reveal">
    <div class="promo">
        <img src="shop.jpg"width="100%" height="100%">
    </div>
    </div>

    <div class="quickOptions">
        <p>socials</p>
    </div>

    <div class="bottomContainer">
        <div class = "links">
            <div class = "browse">
                <h3>Browse</h3>
                <p>Xbox consoles</p>
                <p>Xbox games</p>
                <p>Xbox Game Pass</p>
                <p>Xbox accessories</p>
            </div>
            <div class = "browse">
                <h3>Resources</h3>
                <p>Xbox News</p>
                <p>Xbox Support</p>
                <p>Feedback</p>
                <p>Community Standards</p>
                <p>Photosensitive Seizure Warning</p>
            </div>
            
            <div class = "browse">
                <h3>Microsoft Store</h3>
                <p>Microsoft account</p>
                <p>Microsoft Store Support</p>
                <p>Returns</p>
                <p>Orders tracking</p>
                <p>Store locations</p>
            </div>
            <div class = "browse">
                <h3>For Developers</h3>
                <p>ID@Xbox</p>
                <p>Windows</p>
                <p>Creators Program</p>
                <p>Designed for Xbox</p>
                
            </div>
        </div>
        <div class = "footer">
            <p>Links</p>
        </div>
    </div>


    <script>
        let slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
        }


        //Animation
        function reveal() {
          var reveals = document.querySelectorAll(".reveal");
        
          for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 150;
        
            if (elementTop < windowHeight - elementVisible) {
              reveals[i].classList.add("active");
            } else {
              reveals[i].classList.remove("active");
            }
          }
        }
        
        window.addEventListener("scroll", reveal);


    </script>

</body>
</html>